# Environment variables for the application for index scraping
APP_URL=http://localhost:3000

# The time to hold the page before scraping in milliseconds
HOLD_MS=1000

ANTHROPIC_API_KEY=your_anthropic_api_key_here